[submodule "projects/cartografia-da-alma"]
	path = projects/cartografia-da-alma
	url = https://github.com/rsmramalho/Mistico.git
[submodule "projects/mindroot"]
	path = projects/mindroot
	url = https://github.com/rsmramalho/mindroot.git
